.tooltip-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.tooltip-container button {
    width: 15%;
    margin: 30px 50px;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-size: 25px;
}